

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.josefin{
    font-family: "Josefin Sans", sans-serif;
}

.navbar{
    background:  linear-gradient(rgb(104, 46, 4), rgb(28, 12, 1)) ;
    font-family: "Josefin Sans", sans-serif;
    box-shadow:1px 1px 10px 0px white !important;
}
.a{
    border:3px dashed orangered;
}
.b{
    object-fit: cover;
    
}
.nav-link{
    transition: .5s;
    padding: 4px 4px;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 4px;
    
}
.nav-link i, .dropdown-item i{
    font-size: 18px;
    margin: 0 5px;
}

.nav-link:hover{
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px #0aa38f;
    
}
.top-image .card-img-top{
    background-color: transparent;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    transition: .5s;
}
.top-image .card-img-top:hover{
    transform: scale(1.1);
    background-color: orange;
}
.food-card img{
    aspect-ratio: 9/10;
    object-fit: cover;
    object-position: center;
    height: fit-content;
    border-radius: 12px;
    transition: .5s ease-in;
}
.food-card div img:hover{
    transform: scale(1.1);
    cursor:crosshair
}
.offer{
    color:rgb(228, 6, 6);
}
.fontsize{
    font-size: 14px !important;
    color:rgb(228, 6, 6);
}
#banner{
    /* height: 400px; */
    background-image: url('https://b.zmtcdn.com/data/o2_assets/e067a1cf0d3fe27b366402b98b994e9f1716296909.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    border-radius: 40px;
    height: 25vw;
    width: 100%;
}
.cafeinfo{
    background-image:linear-gradient(rgba(0, 0, 0, 0.695), rgba(255, 166, 0, 0.607)), url('/image/cafebg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cafecard h3{
    color: white;
    background-color: rgb(206, 9, 9);
    border-radius: 14px 0  0 14px;
    padding:5px 10px;
    font-size: 18px;
    font-weight: 700;
    right: 0;
}

.cafecard .card-img-top{
    aspect-ratio: 4/3;
}

.cafecard  .overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.636), rgba(255, 166, 0, 0.263), rgba(255, 0, 0, 0.323));
    /* background: red; */
    width: 100%;
    position: absolute;
    /* height: 100%; */
}

/* .cafe-section:nth-child(even) .cafecard  .overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.636), rgba(144, 96, 8, 0.263), rgba(156, 7, 7, 0.323));
    background: red;
 
} 

.cafe-section:nth-child(odd) .cafecard  .overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.636), rgba(255, 166, 0, 0.263), rgba(237, 233, 233, 0.878));
    background: #000;
 
}  */

.menu-card img{
    aspect-ratio: 4/3;
    object-fit: cover;
    
}
.menu-card .card-body p{
    font-size: 20px;
    font-weight: 700;
}

footer{
      background:  linear-gradient(rgb(104, 46, 4), rgb(28, 12, 1)) ;
      color:white !important;
}
.navimg{
    height: 250px;
    background-image: linear-gradient(rgba(104, 46, 4, 0.744), rgba(28, 12, 1, 0.597)), url('https://c0.wallpaperflare.com/preview/701/669/93/bar-board-chairs-coffee-shop.jpg');
    background-size: cover;
    background-position: center;
}
.navimg h1{
    margin-left: 50px;
}
.navimg p{
    margin-left: 50px;
    color: white;
}
.navimg p a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}

.contact-shadow{
    /* box-shadow: -5px -5px 15px rgb(100, 40, 7); */
    border-radius: 12px;
    transition: 0.5s
}
.contact-shadow:hover{
    box-shadow: 5px 5px 15px rgb(100, 40, 7);
}
.text-color-theme{
    background-image: linear-gradient(to left, rgb(136, 59, 4), rgb(79, 24, 3)) !important ;
    -webkit-background-clip: text;
    font-weight: bold !important;
    background-clip: text;
    color: transparent;
}
.contact-overlay{
    background-image: linear-gradient(to left, rgba(136, 59, 4, 0.815), rgba(79, 25, 3, 0.832)) ;
    opacity: 0.5;
   
}
